In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
userInput = [
            {'title':'Breakfast Club, The', 'rating':5},
            {'title':'Toy Story', 'rating':3.5},
            {'title':'Jumanji', 'rating':2},
            {'title':"Pulp Fiction", 'rating':5},
            {'title':'Akira', 'rating':4.5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0  Breakfast Club, The     5.0
1            Toy Story     3.5
2              Jumanji     2.0
3         Pulp Fiction     5.0
4                Akira     4.5

In [3]:
df = pd.read_csv('movies.csv') # all movies

In [6]:
df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
34203,151697,Grand Slam (1967),Thriller
34204,151701,Bloodmoney (2010),(no genres listed)
34205,151703,The Butterfly Circus (2009),Drama
34206,151709,Zero (2015),Drama|Sci-Fi
34207,151711,The 2000 Year Old Man (1975),(no genres listed)

In [4]:
users = pd.read_csv('ratings.csv') #users and their ratings

In [5]:
del users['timestamp']

In [8]:
users

          userId  movieId  rating
0              1      169     2.5
1              1     2471     3.0
2              1    48516     5.0
3              2     2571     3.5
4              2   109487     4.0
...          ...      ...     ...
22884372  247753    49530     5.0
22884373  247753    69481     3.0
22884374  247753    74458     4.0
22884375  247753    76093     5.0
22884376  247753   130636     0.5

[22884377 rows x 3 columns]

In [6]:
lista= []
for i in range(len(df)):
    lista.append(df.iloc[i,1].split('(')[0].strip()) #clean title from year

In [7]:
df['title'] = lista

In [128]:
df

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
...,...,...,...
34203,151697,Grand Slam,Thriller
34204,151701,Bloodmoney,(no genres listed)
34205,151703,The Butterfly Circus,Drama
34206,151709,Zero,Drama|Sci-Fi
34207,151711,The 2000 Year Old Man,(no genres listed)

In [21]:
users

          userId  movieId  rating
0              1      169     2.5
1              1     2471     3.0
2              1    48516     5.0
3              2     2571     3.5
4              2   109487     4.0
...          ...      ...     ...
22884372  247753    49530     5.0
22884373  247753    69481     3.0
22884374  247753    74458     4.0
22884375  247753    76093     5.0
22884376  247753   130636     0.5

[22884377 rows x 3 columns]

In [13]:
df2 = pd.merge(left = inputMovies, right = df, how = 'inner', on = 'title') #merge by movie id to find movie ids of our users

In [29]:
df2

,title,rating,genres_x,movieId,genres_y,titulo
0,"Breakfast Club, The",5.0,Comedy|Drama,1968,Comedy|Drama,"Breakfast Club, The"
1,Toy Story,3.5,Adventure|Animation|Children|Comedy|Fantasy,1,Adventure|Animation|Children|Comedy|Fantasy,Toy Story
2,Jumanji,2.0,Adventure|Children|Fantasy,2,Adventure|Children|Fantasy,Jumanji
3,Pulp Fiction,5.0,Comedy|Crime|Drama|Thriller,296,Comedy|Crime|Drama|Thriller,Pulp Fiction
4,Akira,4.5,Action|Adventure|Animation|Sci-Fi,1274,Action|Adventure|Animation|Sci-Fi,Akira

In [15]:
del df2['title']

In [16]:
df2

   rating  movieId                                     genres_y
0     5.0     1968                                 Comedy|Drama
1     3.5        1  Adventure|Animation|Children|Comedy|Fantasy
2     2.0        2                   Adventure|Children|Fantasy
3     5.0      296                  Comedy|Crime|Drama|Thriller
4     4.5     1274            Action|Adventure|Animation|Sci-Fi

In [139]:
df2['movieId'].values

array([1968,    1,    2,  296, 1274], dtype=int64)

In [ ]:
filtrado = users[users['movieId'].isin([1968,    1,    2,  296, 1274])]#find the users that also saw the same movies

In [142]:
filtrado

          userId  movieId  rating
19             4      296     4.0
441           12     1968     3.0
479           13        2     2.0
531           13     1274     5.0
681           14      296     2.0
...          ...      ...     ...
22883679  247738      296     4.0
22884132  247751        1     4.0
22884142  247751      296     4.0
22884164  247751     1274     5.0
22884355  247753        1     3.0

[196623 rows x 3 columns]

In [18]:
filtrado.sort_values('userId')

          userId  movieId  rating
19             4      296     4.0
441           12     1968     3.0
479           13        2     2.0
531           13     1274     5.0
681           14      296     2.0
...          ...      ...     ...
22883679  247738      296     4.0
22884142  247751      296     4.0
22884164  247751     1274     5.0
22884132  247751        1     4.0
22884355  247753        1     3.0

[196623 rows x 3 columns]

In [44]:
df2

,title,rating,movieId,genres_y
0,"Breakfast Club, The",5.0,1968,Comedy|Drama
1,Toy Story,3.5,1,Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji,2.0,2,Adventure|Children|Fantasy
3,Pulp Fiction,5.0,296,Comedy|Crime|Drama|Thriller
4,Akira,4.5,1274,Action|Adventure|Animation|Sci-Fi

In [19]:
from collections import Counter

In [20]:
dic = dict(Counter(filtrado['userId'])) #we need to find the users that saw the same 5 movies at the same time, to make correlations calculation possible

In [60]:
dic

{4: 1,
 12: 1,
 13: 2,
 14: 1,
 15: 3,
 17: 4,
 18: 1,
 20: 1,
 23: 1,
 26: 1,
 28: 1,
 31: 1,
 32: 1,
 34: 3,
 37: 2,
 38: 1,
 39: 3,
 40: 2,
 45: 1,
 47: 2,
 48: 1,
 50: 3,
 53: 1,
 54: 2,
 55: 1,
 56: 1,
 57: 1,
 58: 2,
 59: 2,
 60: 1,
 63: 2,
 64: 1,
 66: 2,
 70: 1,
 75: 5,
 78: 2,
 85: 1,
 88: 1,
 89: 2,
 90: 1,
 94: 2,
 95: 1,
 98: 1,
 99: 1,
 104: 1,
 106: 5,
 107: 1,
 109: 1,
 110: 1,
 114: 4,
 115: 2,
 116: 1,
 117: 1,
 118: 1,
 120: 2,
 121: 2,
 122: 4,
 124: 1,
 128: 1,
 129: 2,
 130: 1,
 131: 1,
 132: 1,
 135: 1,
 136: 1,
 137: 2,
 140: 1,
 148: 1,
 149: 1,
 150: 2,
 151: 1,
 152: 1,
 155: 1,
 158: 3,
 159: 1,
 160: 1,
 163: 1,
 164: 3,
 166: 1,
 170: 1,
 174: 1,
 175: 2,
 176: 1,
 178: 3,
 179: 1,
 180: 2,
 183: 2,
 184: 1,
 187: 1,
 192: 1,
 198: 2,
 199: 2,
 201: 1,
 202: 1,
 205: 1,
 206: 2,
 208: 1,
 210: 2,
 212: 2,
 216: 1,
 217: 4,
 219: 1,
 222: 4,
 223: 1,
 224: 1,
 226: 3,
 227: 2,
 228: 1,
 229: 1,
 233: 1,
 234: 1,
 235: 3,
 237: 1,
 240: 1,
 241: 4,
 243: 1,
 244: 2,
 251: 1,
 255: 1,
 256: 3,
 257: 2,
 258: 1,
 259: 2,
 261: 1,
 264: 1,
 265: 1,
 269: 3,
 272: 1,
 274: 2,
 275: 2,
 276: 1,
 277: 4,
 282: 2,
 285: 1,
 287: 1,
 288: 1,
 293: 1,
 294: 2,
 296: 2,
 302: 1,
 303: 3,
 304: 2,
 305: 1,
 309: 1,
 310: 1,
 312: 1,
 313: 1,
 317: 1,
 319: 2,
 320: 1,
 321: 3,
 322: 3,
 323: 1,
 326: 1,
 328: 1,
 329: 1,
 330: 2,
 332: 2,
 334: 1,
 337: 1,
 340: 4,
 341: 3,
 345: 1,
 347: 1,
 348: 1,
 349: 1,
 350: 2,
 351: 1,
 352: 1,
 355: 2,
 358: 1,
 360: 1,
 361: 2,
 362: 1,
 363: 1,
 365: 3,
 366: 2,
 368: 2,
 373: 4,
 375: 1,
 382: 1,
 383: 2,
 385: 1,
 386: 1,
 388: 3,
 390: 3,
 391: 2,
 392: 1,
 393: 4,
 394: 1,
 396: 1,
 397: 1,
 400: 1,
 401: 1,
 403: 3,
 404: 1,
 405: 1,
 406: 1,
 407: 4,
 408: 2,
 409: 1,
 414: 2,
 416: 2,
 422: 1,
 424: 1,
 430: 1,
 432: 4,
 434: 1,
 436: 1,
 447: 4,
 448: 2,
 449: 1,
 450: 1,
 451: 2,
 454: 2,
 461: 4,
 463: 1,
 465: 2,
 467: 1,
 470: 1,
 472: 1,
 474: 1,
 476: 2,
 478: 1,
 479: 4,
 480: 1,
 481: 1,
 483: 1,
 484: 2,
 486: 1,
 488: 1,
 489: 1,
 491: 1,
 493: 1,
 494: 2,
 495: 3,
 497: 2,
 505: 1,
 506: 1,
 507: 1,
 508: 1,
 513: 1,
 519: 1,
 522: 2,
 523: 3,
 526: 1,
 528: 2,
 529: 1,
 530: 2,
 531: 1,
 533: 1,
 534: 4,
 535: 2,
 536: 1,
 537: 3,
 538: 1,
 540: 2,
 542: 1,
 544: 1,
 546: 1,
 547: 1,
 548: 1,
 550: 2,
 551: 2,
 553: 2,
 554: 1,
 556: 1,
 558: 4,
 562: 1,
 563: 1,
 564: 3,
 565: 2,
 566: 1,
 568: 2,
 575: 1,
 580: 2,
 582: 2,
 584: 4,
 586: 2,
 589: 1,
 593: 2,
 594: 1,
 596: 2,
 598: 2,
 599: 4,
 604: 3,
 605: 1,
 606: 1,
 607: 1,
 609: 3,
 610: 1,
 612: 3,
 613: 3,
 614: 1,
 615: 3,
 616: 2,
 617: 1,
 619: 1,
 625: 2,
 627: 4,
 630: 1,
 631: 1,
 632: 1,
 633: 2,
 635: 2,
 639: 1,
 644: 1,
 649: 2,
 651: 1,
 655: 3,
 656: 1,
 664: 1,
 665: 1,
 666: 1,
 668: 3,
 670: 4,
 674: 2,
 675: 3,
 676: 1,
 679: 2,
 680: 1,
 681: 1,
 683: 3,
 686: 5,
 687: 1,
 690: 1,
 694: 1,
 696: 2,
 698: 3,
 700: 1,
 702: 1,
 703: 3,
 705: 3,
 706: 2,
 707: 3,
 710: 1,
 711: 1,
 715: 1,
 716: 2,
 718: 2,
 720: 1,
 722: 2,
 726: 2,
 727: 1,
 728: 3,
 730: 1,
 732: 1,
 735: 3,
 738: 1,
 741: 3,
 742: 1,
 743: 1,
 744: 1,
 747: 1,
 748: 2,
 749: 1,
 750: 2,
 753: 2,
 757: 1,
 759: 1,
 760: 1,
 761: 3,
 763: 1,
 764: 1,
 767: 1,
 768: 3,
 769: 2,
 771: 1,
 773: 1,
 774: 3,
 777: 1,
 778: 1,
 779: 2,
 780: 1,
 782: 1,
 784: 4,
 788: 1,
 790: 1,
 793: 3,
 795: 1,
 799: 1,
 800: 1,
 802: 1,
 803: 1,
 804: 1,
 805: 2,
 806: 1,
 807: 2,
 815: 5,
 817: 2,
 818: 1,
 820: 2,
 821: 1,
 822: 1,
 823: 2,
 832: 2,
 834: 1,
 840: 2,
 841: 1,
 842: 1,
 844: 2,
 846: 1,
 848: 3,
 850: 1,
 851: 1,
 852: 1,
 855: 1,
 856: 2,
 857: 2,
 858: 1,
 860: 1,
 863: 1,
 864: 1,
 866: 1,
 867: 2,
 868: 1,
 870: 1,
 871: 1,
 872: 1,
 874: 1,
 875: 1,
 876: 1,
 877: 1,
 879: 1,
 881: 3,
 883: 2,
 885: 1,
 886: 1,
 889: 2,
 893: 3,
 896: 1,
 899: 4,
 904: 4,
 905: 1,
 906: 1,
 909: 2,
 910: 1,
 914: 1,
 916: 2,
 919: 2,
 921: 1,
 923: 2,
 925: 1,
 927: 4,
 928: 2,
 929: 1,
 930: 3,
 931: 1,
 935: 3,
 936: 1,
 937: 2,
 938: 4,
 939: 2,
 944: 2,
 945: 1,
 947: 1,
 948: 1,
 950: 1,
 952: 1,
 953: 1,
 956: 3,
 957: 1,
 958: 1,
 960: 1,
 961: 1,
 963: 1,
 965: 3,
 966: 2,
 967: 2,
 969: 3,
 974: 4,
 976: 1,
 978: 1,
 979: 1,
 980: 1,
 981: 1,
 982: 1,
 983: 2,
 986: 3,
 989: 1,
 990: 2,
 991: 1,
 994: 3,
 995: 1,
 996: 1,
 997: 1,
 1005: 2,
 1006: 3,
 1007: 1,
 1008: 1,
 1009: 1,
 1011: 2,
 1013: 2,
 1015: 1,
 1017: 1,
 1018: 1,
 1019: 1,
 1021: 2,
 1022: 1,
 1025: 1,
 1026: 1,
 1028: 2,
 1033: 1,
 1036: 2,
 1037: 2,
 1040: 5,
 1041: 1,
 1044: 1,
 1045: 3,
 1046: 3,
 1047: 2,
 1048: 1,
 1054: 1,
 1055: 1,
 1058: 1,
 1059: 1,
 1060: 2,
 1063: 2,
 1066: 4,
 1068: 1,
 1072: 2,
 1073: 1,
 1074: 2,
 1078: 1,
 1080: 1,
 1081: 1,
 1085: 1,
 1087: 1,
 1088: 1,
 1089: 1,
 1091: 1,
 1094: 1,
 1095: 1,
 1102: 1,
 1104: 1,
 1105: 1,
 1107: 4,
 1108: 1,
 1109: 1,
 1110: 1,
 1112: 3,
 1113: 1,
 1115: 3,
 1117: 1,
 1118: 1,
 1121: 1,
 1124: 1,
 1126: 2,
 1130: 5,
 1131: 1,
 1133: 1,
 1134: 3,
 1140: 1,
 1141: 1,
 1143: 1,
 1146: 2,
 1147: 1,
 1148: 1,
 1152: 4,
 1153: 1,
 1157: 2,
 1158: 1,
 1159: 1,
 1160: 2,
 1162: 1,
 1163: 1,
 1164: 1,
 1165: 1,
 1167: 2,
 1168: 2,
 1170: 1,
 1171: 3,
 1172: 3,
 1174: 3,
 1175: 1,
 1176: 2,
 1177: 2,
 1179: 1,
 1182: 1,
 1184: 1,
 1189: 1,
 1197: 1,
 1198: 1,
 1200: 4,
 1202: 1,
 1204: 4,
 1206: 1,
 1207: 1,
 1208: 1,
 1209: 2,
 1211: 2,
 1212: 2,
 1213: 3,
 1215: 1,
 1216: 1,
 1219: 1,
 1221: 1,
 1223: 2,
 1225: 1,
 1228: 1,
 1230: 2,
 1235: 1,
 1237: 1,
 1238: 2,
 1239: 2,
 1240: 1,
 1241: 2,
 1245: 2,
 1247: 1,
 1250: 3,
 1253: 1,
 1255: 4,
 1256: 1,
 1258: 1,
 1260: 1,
 1263: 1,
 1264: 1,
 1265: 1,
 1266: 1,
 1269: 1,
 1272: 3,
 1275: 1,
 1276: 1,
 1277: 1,
 1281: 1,
 1282: 3,
 1285: 1,
 1287: 1,
 1289: 1,
 1291: 2,
 1292: 2,
 1293: 1,
 1300: 3,
 1301: 2,
 1302: 1,
 1303: 3,
 1304: 1,
 1308: 1,
 1309: 1,
 1310: 1,
 1311: 3,
 1313: 1,
 1314: 1,
 1317: 2,
 1320: 1,
 1321: 1,
 1324: 3,
 1328: 1,
 1330: 1,
 1337: 2,
 1339: 1,
 1340: 1,
 1343: 2,
 1348: 3,
 1349: 2,
 1352: 3,
 1353: 1,
 1356: 1,
 1357: 1,
 1361: 3,
 1364: 1,
 1368: 1,
 1370: 1,
 1371: 2,
 1374: 2,
 1378: 1,
 1381: 1,
 1386: 2,
 1388: 1,
 1389: 1,
 1390: 1,
 1391: 2,
 1392: 2,
 1393: 3,
 1394: 1,
 1398: 1,
 1399: 2,
 1400: 2,
 1402: 2,
 1403: 1,
 1410: 1,
 1411: 1,
 1414: 4,
 1416: 1,
 1419: 2,
 1420: 1,
 1421: 1,
 1424: 2,
 1425: 1,
 1426: 1,
 1427: 1,
 1428: 1,
 1429: 1,
 1432: 1,
 1435: 2,
 1437: 1,
 1438: 2,
 1439: 1,
 1440: 1,
 1442: 2,
 1443: 2,
 1444: 1,
 1445: 2,
 1447: 1,
 1448: 1,
 1449: 2,
 1454: 1,
 1457: 1,
 1459: 2,
 1462: 1,
 1468: 3,
 1470: 1,
 1478: 1,
 1479: 2,
 1480: 2,
 1482: 1,
 1483: 2,
 1486: 2,
 1487: 1,
 1488: 1,
 1492: 1,
 1493: 1,
 1496: 1,
 1497: 1,
 1502: 5,
 1503: 2,
 1506: 2,
 1513: 3,
 1518: 1,
 1519: 4,
 1520: 1,
 1523: 1,
 1529: 2,
 1530: 1,
 1531: 2,
 1535: 1,
 1536: 1,
 1540: 1,
 1541: 2,
 1542: 1,
 1546: 2,
 1547: 2,
 1548: 1,
 1549: 1,
 1551: 3,
 1552: 2,
 1553: 1,
 1554: 1,
 1557: 3,
 1558: 2,
 1562: 3,
 1563: 1,
 1565: 1,
 1566: 1,
 1567: 1,
 1571: 1,
 1572: 1,
 1573: 2,
 1575: 1,
 1577: 2,
 1579: 3,
 1580: 3,
 1583: 2,
 1585: 1,
 1590: 1,
 1591: 1,
 1592: 1,
 1595: 1,
 1598: 3,
 1599: 5,
 1600: 2,
 1602: 1,
 1604: 2,
 1605: 1,
 1606: 2,
 1607: 4,
 1608: 1,
 1609: 1,
 1611: 1,
 1614: 3,
 1615: 3,
 1616: 1,
 1618: 2,
 1619: 1,
 1621: 3,
 1623: 1,
 1624: 1,
 1625: 5,
 1627: 1,
 1629: 4,
 1631: 2,
 1632: 1,
 1635: 3,
 1637: 1,
 1640: 1,
 1641: 1,
 1643: 4,
 1644: 2,
 1646: 1,
 1647: 1,
 1650: 1,
 1651: 1,
 1652: 1,
 1654: 1,
 1658: 2,
 1659: 1,
 1660: 1,
 1661: 1,
 1662: 3,
 1664: 1,
 1667: 4,
 1669: 3,
 1671: 1,
 1673: 2,
 1674: 1,
 1675: 3,
 1677: 1,
 1681: 3,
 1682: 1,
 1683: 1,
 1686: 2,
 1689: 1,
 1690: 1,
 1691: 2,
 1692: 2,
 1695: 1,
 1696: 1,
 1700: 3,
 1702: 1,
 1704: 1,
 1708: 1,
 1713: 2,
 1714: 1,
 1718: 1,
 1720: 1,
 1726: 1,
 1731: 2,
 1735: 1,
 1736: 1,
 1737: 2,
 1741: 2,
 1742: 3,
 1744: 2,
 1745: 1,
 1747: 1,
 1748: 2,
 1749: 2,
 1750: 2,
 1751: 1,
 1754: 3,
 1757: 3,
 1758: 1,
 1761: 2,
 1765: 1,
 1766: 2,
 1767: 1,
 1770: 3,
 1771: 1,
 1773: 2,
 1774: 1,
 1775: 1,
 1776: 1,
 1778: 1,
 1779: 2,
 1780: 1,
 1782: 1,
 1785: 4,
 1787: 1,
 1792: 3,
 1794: 1,
 1799: 1,
 1805: 1,
 1809: 2,
 1811: 2,
 1816: 1,
 1817: 1,
 1820: 1,
 1822: 1,
 1823: 1,
 1824: 4,
 1826: 1,
 1827: 1,
 1828: 3,
 1829: 2,
 1832: 1,
 1833: 1,
 1834: 3,
 1837: 1,
 1839: 2,
 1840: 1,
 1842: 1,
 1846: 1,
 1847: 1,
 1848: 4,
 1850: 1,
 1853: 1,
 1855: 2,
 1856: 2,
 1858: 3,
 1861: 1,
 1863: 2,
 1873: 2,
 1874: 2,
 1875: 1,
 1877: 1,
 1880: 2,
 1881: 1,
 1883: 1,
 1886: 1,
 1889: 3,
 1890: 1,
 1891: 2,
 1892: 1,
 1894: 1,
 1895: 4,
 1896: 1,
 1898: 3,
 1901: 1,
 1906: 1,
 1907: 1,
 1914: 2,
 1915: 1,
 1916: 3,
 1920: 1,
 1923: 1,
 1926: 1,
 1927: 1,
 1930: 1,
 1931: 1,
 1933: 3,
 1934: 1,
 1937: 1,
 1938: 3,
 1939: 1,
 1941: 1,
 1943: 1,
 1945: 3,
 1946: 1,
 1950: 5,
 1951: 2,
 1954: 2,
 1956: 2,
 1958: 1,
 1959: 1,
 1961: 1,
 1963: 1,
 1965: 3,
 1966: 4,
 1968: 2,
 1971: 1,
 1972: 2,
 1975: 2,
 1976: 1,
 1978: 1,
 1980: 2,
 1984: 1,
 1988: 1,
 1992: 2,
 1993: 1,
 2000: 3,
 2001: 2,
 2002: 1,
 2007: 3,
 2014: 2,
 2018: 2,
 2020: 2,
 2024: 1,
 2025: 1,
 2027: 1,
 2031: 1,
 2032: 2,
 2033: 1,
 2037: 2,
 2038: 2,
 2039: 3,
 2040: 1,
 2041: 1,
 2046: 1,
 2048: 1,
 2053: 1,
 2055: 2,
 2058: 1,
 2059: 1,
 2065: 5,
 2068: 2,
 2070: 1,
 2071: 1,
 2072: 1,
 2073: 3,
 2076: 1,
 2077: 1,
 2078: 1,
 2085: 1,
 2086: 2,
 2088: 1,
 2091: 1,
 2093: 2,
 2095: 1,
 2096: 1,
 2099: 1,
 ...}

In [21]:
lista = [] #only choose the ones where the user id repeats at least 5 times 
for i in dic.items(): 
    if i[1] == 5:
        lista.append(i[0])

In [78]:
lista

[75,
 106,
 686,
 815,
 1040,
 1130,
 1502,
 1599,
 1625,
 1950,
 2065,
 2128,
 2432,
 2791,
 2839,
 2948,
 3025,
 3040,
 3186,
 3271,
 3429,
 3734,
 4099,
 4208,
 4282,
 4292,
 4415,
 4586,
 4725,
 4818,
 5104,
 5165,
 5547,
 6082,
 6207,
 6366,
 6482,
 6530,
 7235,
 7403,
 7641,
 7996,
 8008,
 8086,
 8245,
 8572,
 8675,
 9101,
 9358,
 9663,
 9994,
 10248,
 10315,
 10368,
 10607,
 10707,
 10863,
 11314,
 11399,
 11769,
 11827,
 12069,
 12120,
 12211,
 12325,
 12916,
 12921,
 13053,
 13142,
 13260,
 13366,
 13768,
 13888,
 13923,
 13934,
 14529,
 14551,
 14588,
 14984,
 15137,
 15157,
 15466,
 15670,
 15834,
 16292,
 16456,
 16506,
 17246,
 17438,
 17501,
 17502,
 17666,
 17735,
 17742,
 17757,
 17854,
 17897,
 17944,
 18301,
 18509,
 18765,
 18905,
 19208,
 19381,
 19607,
 19890,
 20278,
 20319,
 20341,
 20444,
 20650,
 20708,
 20759,
 20838,
 20969,
 21023,
 21148,
 21242,
 21362,
 21473,
 21475,
 21819,
 22043,
 22180,
 22883,
 22950,
 22952,
 23297,
 23332,
 23437,
 23467,
 23534,
 23562,
 23600,
 23815,
 24692,
 24846,
 25090,
 25488,
 25760,
 25778,
 25793,
 25799,
 25930,
 26155,
 26516,
 26602,
 27131,
 27160,
 27177,
 27255,
 27281,
 27583,
 27638,
 27719,
 27988,
 28012,
 28170,
 28670,
 28755,
 29118,
 29178,
 29218,
 29300,
 29353,
 29369,
 29520,
 29653,
 29743,
 30029,
 30365,
 30642,
 30651,
 30758,
 30771,
 30853,
 31542,
 31583,
 31605,
 31920,
 32419,
 32466,
 32599,
 32738,
 33120,
 33121,
 33509,
 33521,
 33797,
 33945,
 34234,
 34945,
 34978,
 35189,
 35213,
 35315,
 35900,
 35964,
 36264,
 36711,
 36933,
 36936,
 36946,
 36985,
 37139,
 37148,
 37197,
 37311,
 37725,
 37855,
 37887,
 38004,
 38200,
 38304,
 38318,
 38445,
 38450,
 38734,
 38813,
 38875,
 38957,
 38986,
 39123,
 39142,
 39163,
 39252,
 39273,
 39283,
 39595,
 39677,
 39746,
 39794,
 39969,
 39994,
 40527,
 40567,
 40801,
 41061,
 41373,
 41458,
 41488,
 41714,
 41746,
 41886,
 42305,
 42416,
 42734,
 43228,
 43287,
 43767,
 43920,
 44445,
 44585,
 44758,
 45024,
 45074,
 45123,
 45300,
 45640,
 45727,
 45782,
 45824,
 46009,
 46025,
 46237,
 46455,
 46458,
 46509,
 46619,
 46750,
 46987,
 47109,
 47242,
 47386,
 47586,
 47648,
 47776,
 47808,
 48087,
 48098,
 48431,
 48492,
 48757,
 48793,
 48923,
 48986,
 48993,
 49089,
 49359,
 50254,
 50259,
 50458,
 50514,
 50738,
 50820,
 50877,
 51033,
 51159,
 51397,
 51580,
 51609,
 51672,
 51813,
 51920,
 52673,
 52718,
 52815,
 53021,
 53030,
 53094,
 53598,
 53735,
 54009,
 54096,
 54158,
 54308,
 54515,
 54746,
 54755,
 55061,
 55164,
 55385,
 55386,
 55495,
 55882,
 55990,
 56061,
 56395,
 56705,
 56800,
 57015,
 57117,
 57474,
 57604,
 57915,
 57920,
 57966,
 58040,
 58061,
 58171,
 58480,
 58571,
 58618,
 58631,
 58708,
 58973,
 59037,
 59338,
 59584,
 59681,
 59949,
 59997,
 60336,
 60469,
 60482,
 60486,
 60514,
 60859,
 61364,
 61550,
 61705,
 61725,
 61917,
 61957,
 62056,
 62494,
 62531,
 62975,
 63110,
 63236,
 63361,
 63559,
 63947,
 64214,
 64456,
 64563,
 64720,
 65259,
 65856,
 66042,
 66098,
 66150,
 66364,
 66467,
 66887,
 67204,
 67300,
 67470,
 67756,
 68040,
 68205,
 68772,
 68783,
 68822,
 69378,
 69392,
 69413,
 69614,
 69705,
 69718,
 70123,
 70174,
 70269,
 70277,
 70542,
 71295,
 71498,
 71499,
 71502,
 71559,
 71651,
 71921,
 72022,
 72230,
 72256,
 72448,
 72536,
 72806,
 72863,
 72965,
 73244,
 73416,
 73419,
 73435,
 73494,
 73563,
 73642,
 73669,
 73697,
 73725,
 73889,
 73908,
 74047,
 74125,
 74157,
 74234,
 74364,
 74430,
 74507,
 74551,
 74583,
 74819,
 74858,
 75161,
 75461,
 75701,
 75769,
 75906,
 76255,
 76721,
 76795,
 76888,
 77020,
 77025,
 77194,
 77231,
 77421,
 77695,
 77801,
 77981,
 78036,
 78038,
 78046,
 78095,
 78409,
 78445,
 78473,
 78629,
 78766,
 78869,
 78871,
 79099,
 79625,
 79783,
 80261,
 80357,
 80485,
 80652,
 80815,
 80865,
 81242,
 81349,
 81404,
 81627,
 81665,
 81702,
 81742,
 81793,
 82382,
 82800,
 83470,
 83745,
 83951,
 84039,
 84077,
 84513,
 85116,
 85133,
 85153,
 85518,
 85886,
 86082,
 86318,
 86367,
 86447,
 86658,
 86680,
 87449,
 87690,
 87926,
 87998,
 88117,
 88303,
 88318,
 88406,
 88741,
 89216,
 89271,
 89377,
 89432,
 89694,
 89770,
 89821,
 90018,
 90278,
 90320,
 90496,
 90613,
 90645,
 90725,
 90775,
 90799,
 90818,
 90863,
 90904,
 91304,
 91408,
 91951,
 92372,
 92466,
 92730,
 92784,
 93060,
 93278,
 93435,
 93491,
 93565,
 93788,
 94009,
 94166,
 94202,
 94348,
 94532,
 94559,
 94591,
 94959,
 95113,
 95198,
 95209,
 95211,
 95371,
 95460,
 95764,
 95787,
 96325,
 96461,
 96470,
 96472,
 96562,
 96573,
 96736,
 96744,
 96765,
 96878,
 97244,
 97267,
 97322,
 97775,
 97911,
 97940,
 98070,
 98174,
 98482,
 98720,
 99392,
 99498,
 99503,
 99656,
 99970,
 99992,
 100369,
 100372,
 100428,
 100550,
 100650,
 100713,
 100748,
 100825,
 100838,
 100939,
 101029,
 101082,
 101155,
 101194,
 101361,
 102108,
 102415,
 102550,
 102802,
 103230,
 103463,
 103571,
 103798,
 104481,
 104587,
 104701,
 104714,
 104934,
 105062,
 105097,
 105109,
 105420,
 105437,
 105485,
 105538,
 105554,
 106246,
 106293,
 106460,
 106583,
 106842,
 107538,
 107633,
 107724,
 107733,
 108082,
 108728,
 108959,
 109082,
 109101,
 109706,
 110103,
 110298,
 110657,
 111046,
 111288,
 111374,
 111399,
 111478,
 111602,
 111885,
 112140,
 112212,
 112846,
 112993,
 113570,
 113594,
 113985,
 113995,
 114528,
 114559,
 114758,
 114863,
 115000,
 115074,
 115212,
 115219,
 115339,
 115658,
 116106,
 116108,
 116191,
 116283,
 116352,
 116777,
 116783,
 116797,
 117290,
 117721,
 118141,
 118551,
 119215,
 119274,
 119582,
 119741,
 120010,
 120084,
 120519,
 120603,
 120655,
 120791,
 120903,
 121005,
 121033,
 121306,
 121413,
 121896,
 121917,
 122376,
 122427,
 122946,
 123058,
 123369,
 123559,
 123566,
 123598,
 124068,
 124237,
 124702,
 125028,
 125078,
 125141,
 125398,
 125403,
 125410,
 125730,
 125856,
 126068,
 126116,
 126655,
 126805,
 127546,
 127719,
 128185,
 128225,
 128539,
 128601,
 128627,
 129060,
 129203,
 129475,
 130186,
 130389,
 130429,
 130490,
 130810,
 131052,
 131150,
 131169,
 131424,
 131454,
 131602,
 131635,
 131775,
 131993,
 132005,
 132200,
 132309,
 132337,
 132358,
 132400,
 132513,
 132575,
 132596,
 132669,
 132717,
 133006,
 133331,
 133624,
 134046,
 134065,
 134360,
 134405,
 135145,
 135674,
 135877,
 136004,
 136225,
 136365,
 136855,
 137055,
 137085,
 137143,
 137409,
 137419,
 138136,
 138457,
 138498,
 138533,
 138665,
 138780,
 138856,
 138975,
 139049,
 139252,
 139376,
 139484,
 139621,
 139758,
 140075,
 140394,
 140489,
 140925,
 140967,
 141172,
 141462,
 141474,
 141817,
 142062,
 142163,
 142263,
 142310,
 142333,
 142515,
 142730,
 142774,
 142795,
 143727,
 144628,
 144825,
 144944,
 145076,
 145099,
 145123,
 145171,
 145213,
 145514,
 145944,
 146327,
 146733,
 146818,
 146906,
 147003,
 147771,
 148997,
 149006,
 149110,
 149138,
 149218,
 149247,
 149278,
 149735,
 149758,
 149786,
 150287,
 150342,
 150733,
 151068,
 151070,
 151126,
 151164,
 151229,
 151615,
 151881,
 152112,
 152224,
 152266,
 152387,
 152692,
 153441,
 153601,
 153773,
 153853,
 153993,
 154431,
 154533,
 154537,
 154555,
 154753,
 154995,
 155366,
 155436,
 155934,
 155978,
 155986,
 155995,
 156043,
 156114,
 156249,
 156697,
 156700,
 156725,
 156948,
 157266,
 157347,
 157553,
 157781,
 158088,
 158090,
 158473,
 158648,
 159250,
 159437,
 159465,
 159790,
 160113,
 160338,
 160435,
 160457,
 160640,
 160695,
 160870,
 161178,
 161240,
 161318,
 161371,
 161434,
 161490,
 161569,
 161751,
 161790,
 161799,
 161843,
 162014,
 162415,
 163005,
 163118,
 163160,
 163425,
 163686,
 164413,
 164436,
 164570,
 164675,
 164709,
 164783,
 164890,
 165000,
 165494,
 165812,
 165926,
 165943,
 166029,
 166286,
 166477,
 166488,
 166501,
 166521,
 166624,
 166817,
 167239,
 167246,
 167468,
 167523,
 167538,
 167550,
 167713,
 167837,
 168489,
 168691,
 168743,
 168907,
 168967,
 169107,
 169491,
 169553,
 169555,
 169585,
 169715,
 169729,
 169921,
 169937,
 170007,
 170036,
 170551,
 170631,
 170741,
 170753,
 171108,
 171494,
 171530,
 171537,
 171720,
 172253,
 172345,
 172561,
 172569,
 172617,
 172635,
 172697,
 172832,
 172882,
 172955,
 172961,
 173115,
 173662,
 173864,
 174390,
 174524,
 174790,
 174818,
 174827,
 174903,
 174942,
 175167,
 175179,
 175681,
 175887,
 176369,
 176445,
 176770,
 176968,
 176991,
 177330,
 177659,
 177843,
 178092,
 178107,
 178120,
 178408,
 ...]

In [76]:
for i in dic.items():
    print(i)
    break

(4, 1)

In [22]:
lista[0:100]

[75,
 106,
 686,
 815,
 1040,
 1130,
 1502,
 1599,
 1625,
 1950,
 2065,
 2128,
 2432,
 2791,
 2839,
 2948,
 3025,
 3040,
 3186,
 3271,
 3429,
 3734,
 4099,
 4208,
 4282,
 4292,
 4415,
 4586,
 4725,
 4818,
 5104,
 5165,
 5547,
 6082,
 6207,
 6366,
 6482,
 6530,
 7235,
 7403,
 7641,
 7996,
 8008,
 8086,
 8245,
 8572,
 8675,
 9101,
 9358,
 9663,
 9994,
 10248,
 10315,
 10368,
 10607,
 10707,
 10863,
 11314,
 11399,
 11769,
 11827,
 12069,
 12120,
 12211,
 12325,
 12916,
 12921,
 13053,
 13142,
 13260,
 13366,
 13768,
 13888,
 13923,
 13934,
 14529,
 14551,
 14588,
 14984,
 15137,
 15157,
 15466,
 15670,
 15834,
 16292,
 16456,
 16506,
 17246,
 17438,
 17501,
 17502,
 17666,
 17735,
 17742,
 17757,
 17854,
 17897,
 17944,
 18301,
 18509]

In [29]:
user100 = filtrado[filtrado['userId'].isin(lista[0:100])] #create df with only 100 users we chose
user100 = user100.reset_index(drop = True)
user100

     userId  movieId  rating
0        75        1     5.0
1        75        2     3.5
2        75      296     5.0
3        75     1274     4.5
4        75     1968     5.0
..      ...      ...     ...
495   18509        1     3.0
496   18509        2     4.0
497   18509      296     4.0
498   18509     1274     5.0
499   18509     1968     3.5

[500 rows x 3 columns]

In [85]:
df2

,title,rating,movieId,genres_y
0,"Breakfast Club, The",5.0,1968,Comedy|Drama
1,Toy Story,3.5,1,Adventure|Animation|Children|Comedy|Fantasy
2,Jumanji,2.0,2,Adventure|Children|Fantasy
3,Pulp Fiction,5.0,296,Comedy|Crime|Drama|Thriller
4,Akira,4.5,1274,Action|Adventure|Animation|Sci-Fi

In [ ]:
#next step is to find correlations with our user and similar users, we need to create a new df to make calculations easier

In [51]:
columns = ['userId']

for i in df2['movieId'].values:
    columns.append(i)
    
df_agrupado = pd.DataFrame(columns=columns)
df_agrupado

Empty DataFrame
Columns: [userId, 1968, 1, 2, 296, 1274]
Index: []

In [54]:
#new df with user id and movie ids in columns 
for i in range(len(lista[0:100])): 
    registro = []
    registro.append(lista[0:100][i])
    for j in df_agrupado.columns[1:]:
        registro.append(float(user100[(user100["userId"] == lista[0:100][i]) & (user100["movieId"] == j)]["rating"].values) )
    df_agrupado.loc[i] = registro

In [55]:
df_agrupado

     userId  1968    1    2  296  1274
0      75.0   5.0  5.0  3.5  5.0   4.5
1     106.0   3.5  2.5  3.0  3.5   3.0
2     686.0   5.0  4.0  3.0  4.0   4.0
3     815.0   4.5  4.5  3.0  5.0   3.0
4    1040.0   4.0  3.0  1.5  3.5   3.0
..      ...   ...  ...  ...  ...   ...
95  17854.0   5.0  5.0  4.0  5.0   4.0
96  17897.0   5.0  5.0  3.0  5.0   5.0
97  17944.0   2.0  4.0  2.5  4.5   4.0
98  18301.0   2.0  2.5  2.5  3.5   4.0
99  18509.0   3.5  3.0  4.0  4.0   5.0

[100 rows x 6 columns]

In [56]:
from scipy import stats

In [63]:
stats.pearsonr(df_agrupado.iloc[0,1:],df2['movieId'])[0]

0.3395228232100963

In [58]:
df_agrupado.iloc[0,1:]

1968    5.0
1       5.0
2       3.5
296     5.0
1274    4.5
Name: 0, dtype: float64

In [84]:
#calculate correlations 
corr= []
for i in range(len(df_agrupado)):
    corr.append(stats.pearsonr(df_agrupado.iloc[i,1:],df2['rating'])[0])

In [81]:
df2

   rating  movieId                                     genres_y
0     5.0     1968                                 Comedy|Drama
1     3.5        1  Adventure|Animation|Children|Comedy|Fantasy
2     2.0        2                   Adventure|Children|Fantasy
3     5.0      296                  Comedy|Crime|Drama|Thriller
4     4.5     1274            Action|Adventure|Animation|Sci-Fi

In [85]:
df_agrupado['corr'] = corr

In [86]:
df_agrupado

     userId  1968    1    2  296  1274      corr
0      75.0   5.0  5.0  3.5  5.0   4.5  0.827278
1     106.0   3.5  2.5  3.0  3.5   3.0  0.586009
2     686.0   5.0  4.0  3.0  4.0   4.0  0.832050
3     815.0   4.5  4.5  3.0  5.0   3.0  0.576557
4    1040.0   4.0  3.0  1.5  3.5   3.0  0.943456
..      ...   ...  ...  ...  ...   ...       ...
95  17854.0   5.0  5.0  4.0  5.0   4.0  0.537086
96  17897.0   5.0  5.0  3.0  5.0   5.0  0.877058
97  17944.0   2.0  4.0  2.5  4.5   4.0  0.271385
98  18301.0   2.0  2.5  2.5  3.5   4.0  0.298381
99  18509.0   3.5  3.0  4.0  4.0   5.0  0.132221

[100 rows x 7 columns]

In [89]:
#next step is to find what other similar users watched and our user didn't in order to recommend it to him 

# filter by the same users we were using before but looking for movies that are different from our user

df_agrupado2 = pd.merge(left = df_agrupado, right = users[(users['userId'].isin(lista[0:100])) & (~users['movieId'].isin([1968,    1,    2,  296, 1274]))], how = 'inner', on = ['userId'])

In [90]:
df_agrupado2

         userId  1968    1    2  296  1274      corr  movieId  rating
0          75.0   5.0  5.0  3.5  5.0   4.5  0.827278       16     3.0
1          75.0   5.0  5.0  3.5  5.0   4.5  0.827278       19     2.5
2          75.0   5.0  5.0  3.5  5.0   4.5  0.827278       21     4.5
3          75.0   5.0  5.0  3.5  5.0   4.5  0.827278       25     4.5
4          75.0   5.0  5.0  3.5  5.0   4.5  0.827278       29     4.5
...         ...   ...  ...  ...  ...   ...       ...      ...     ...
100579  18509.0   3.5  3.0  4.0  4.0   5.0  0.132221    75803     4.0
100580  18509.0   3.5  3.0  4.0  4.0   5.0  0.132221    75805     2.5
100581  18509.0   3.5  3.0  4.0  4.0   5.0  0.132221    75940     3.0
100582  18509.0   3.5  3.0  4.0  4.0   5.0  0.132221    75985     3.0
100583  18509.0   3.5  3.0  4.0  4.0   5.0  0.132221    76093     5.0

[100584 rows x 9 columns]

In [80]:
users[(users['userId'].isin(lista[0:100])) & (~users['movieId'].isin([1968,    1,    2,  296, 1274]))]

         userId  movieId  rating
7509         75       16     3.0
7510         75       19     2.5
7511         75       21     4.5
7512         75       25     4.5
7513         75       29     4.5
...         ...      ...     ...
1736801   18509    75803     4.0
1736802   18509    75805     2.5
1736803   18509    75940     3.0
1736804   18509    75985     3.0
1736805   18509    76093     5.0

[100584 rows x 3 columns]

In [77]:
df2

   rating  movieId                                     genres_y
0     5.0     1968                                 Comedy|Drama
1     3.5        1  Adventure|Animation|Children|Comedy|Fantasy
2     2.0        2                   Adventure|Children|Fantasy
3     5.0      296                  Comedy|Crime|Drama|Thriller
4     4.5     1274            Action|Adventure|Animation|Sci-Fi

In [91]:
df_agrupado2.iloc[0,6] * df_agrupado2.iloc[0,8]

2.4818344550842713

In [92]:
#create new column with the multiplication of movie ratings by user and similarity score of the user and our user (corr)
notas = []
for i in range(len(df_agrupado2)):
    notas.append(df_agrupado2.iloc[i,6] * df_agrupado2.iloc[i,8])

In [93]:
notas

[2.4818344550842713,
 2.068195379236893,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 4.136390758473786,
 3.7227516826264067,
 3.7227516826264067,
 2.8954735309316497,
 4.136390758473786,
 3.309112606779028,
 3.309112606779028,
 2.068195379236893,
 0.4136390758473785,
 2.4818344550842713,
 3.309112606779028,
 4.136390758473786,
 2.068195379236893,
 2.4818344550842713,
 3.7227516826264067,
 0.827278151694757,
 2.8954735309316497,
 2.8954735309316497,
 2.8954735309316497,
 3.309112606779028,
 4.136390758473786,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 2.068195379236893,
 3.7227516826264067,
 2.068195379236893,
 4.136390758473786,
 3.7227516826264067,
 3.7227516826264067,
 2.4818344550842713,
 2.8954735309316497,
 3.309112606779028,
 3.309112606779028,
 3.309112606779028,
 2.8954735309316497,
 3.309112606779028,
 0.827278151694757,
 2.068195379236893,
 2.8954735309316497,
 3.309112606779028,
 4.136390758473786,
 3.309112606779028,
 3.309112606779028,
 3.7227516826264067,
 4.136390758473786,
 2.4818344550842713,
 3.7227516826264067,
 4.136390758473786,
 3.7227516826264067,
 3.7227516826264067,
 2.4818344550842713,
 4.136390758473786,
 3.7227516826264067,
 2.068195379236893,
 3.7227516826264067,
 2.8954735309316497,
 1.654556303389514,
 3.309112606779028,
 4.136390758473786,
 3.7227516826264067,
 3.309112606779028,
 2.8954735309316497,
 4.136390758473786,
 4.136390758473786,
 3.309112606779028,
 2.8954735309316497,
 3.7227516826264067,
 3.7227516826264067,
 2.068195379236893,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 2.068195379236893,
 2.8954735309316497,
 3.309112606779028,
 2.8954735309316497,
 4.136390758473786,
 3.7227516826264067,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 1.2409172275421356,
 3.309112606779028,
 3.309112606779028,
 3.7227516826264067,
 3.309112606779028,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 3.309112606779028,
 4.136390758473786,
 3.309112606779028,
 4.136390758473786,
 4.136390758473786,
 4.136390758473786,
 4.136390758473786,
 4.136390758473786,
 3.309112606779028,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 1.654556303389514,
 4.136390758473786,
 2.8954735309316497,
 3.7227516826264067,
 2.8954735309316497,
 4.136390758473786,
 3.309112606779028,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 3.7227516826264067,
 2.8954735309316497,
 2.8954735309316497,
 4.136390758473786,
 3.309112606779028,
 4.136390758473786,
 3.309112606779028,
 3.309112606779028,
 4.136390758473786,
 3.7227516826264067,
 2.4818344550842713,
 1.2409172275421356,
 3.309112606779028,
 2.8954735309316497,
 2.8954735309316497,
 3.7227516826264067,
 3.309112606779028,
 2.8954735309316497,
 2.8954735309316497,
 3.7227516826264067,
 4.136390758473786,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 2.4818344550842713,
 3.309112606779028,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 2.4818344550842713,
 3.309112606779028,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 3.309112606779028,
 0.4136390758473785,
 3.309112606779028,
 4.136390758473786,
 2.8954735309316497,
 4.136390758473786,
 3.7227516826264067,
 2.4818344550842713,
 3.7227516826264067,
 4.136390758473786,
 2.8954735309316497,
 0.827278151694757,
 0.4136390758473785,
 3.309112606779028,
 2.8954735309316497,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 3.309112606779028,
 2.4818344550842713,
 4.136390758473786,
 4.136390758473786,
 3.309112606779028,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 3.309112606779028,
 3.309112606779028,
 1.654556303389514,
 1.654556303389514,
 3.309112606779028,
 3.309112606779028,
 4.136390758473786,
 2.8954735309316497,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 4.136390758473786,
 2.068195379236893,
 2.8954735309316497,
 3.309112606779028,
 4.136390758473786,
 3.7227516826264067,
 2.4818344550842713,
 3.309112606779028,
 2.8954735309316497,
 4.136390758473786,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 1.654556303389514,
 4.136390758473786,
 3.7227516826264067,
 2.068195379236893,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 4.136390758473786,
 2.4818344550842713,
 3.309112606779028,
 3.309112606779028,
 3.7227516826264067,
 2.8954735309316497,
 3.7227516826264067,
 3.309112606779028,
 2.4818344550842713,
 3.7227516826264067,
 3.7227516826264067,
 4.136390758473786,
 3.7227516826264067,
 3.7227516826264067,
 2.8954735309316497,
 3.309112606779028,
 3.309112606779028,
 2.8954735309316497,
 3.7227516826264067,
 0.4136390758473785,
 4.136390758473786,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 2.8954735309316497,
 3.309112606779028,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 3.309112606779028,
 3.7227516826264067,
 2.8954735309316497,
 2.8954735309316497,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 2.4818344550842713,
 3.7227516826264067,
 3.7227516826264067,
 4.136390758473786,
 3.309112606779028,
 0.827278151694757,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 0.827278151694757,
 1.654556303389514,
 4.136390758473786,
 4.136390758473786,
 2.068195379236893,
 4.136390758473786,
 2.4818344550842713,
 3.309112606779028,
 4.136390758473786,
 2.4818344550842713,
 2.4818344550842713,
 3.7227516826264067,
 0.4136390758473785,
 2.8954735309316497,
 4.136390758473786,
 3.7227516826264067,
 3.309112606779028,
 3.309112606779028,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 2.4818344550842713,
 0.827278151694757,
 2.8954735309316497,
 2.8954735309316497,
 4.136390758473786,
 0.827278151694757,
 4.136390758473786,
 2.8954735309316497,
 3.7227516826264067,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 2.8954735309316497,
 2.8954735309316497,
 0.827278151694757,
 4.136390758473786,
 4.136390758473786,
 4.136390758473786,
 2.4818344550842713,
 2.068195379236893,
 4.136390758473786,
 3.7227516826264067,
 2.8954735309316497,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 2.8954735309316497,
 3.309112606779028,
 2.8954735309316497,
 3.309112606779028,
 0.4136390758473785,
 3.7227516826264067,
 2.4818344550842713,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 2.068195379236893,
 2.4818344550842713,
 3.7227516826264067,
 1.2409172275421356,
 3.7227516826264067,
 3.309112606779028,
 3.7227516826264067,
 3.7227516826264067,
 2.8954735309316497,
 2.8954735309316497,
 4.136390758473786,
 2.4818344550842713,
 2.4818344550842713,
 3.7227516826264067,
 3.7227516826264067,
 3.7227516826264067,
 4.136390758473786,
 4.136390758473786,
 3.7227516826264067,
 4.136390758473786,
 2.8954735309316497,
 4.136390758473786,
 3.309112606779028,
 0.827278151694757,
 2.068195379236893,
 3.309112606779028,
 3.309112606779028,
 2.4818344550842713,
 2.0510316353559173,
 1.758027116019358,
 2.637040674029037,
 1.758027116019358,
 2.344036154692477,
 1.758027116019358,
 1.758027116019358,
 2.344036154692477,
 2.0510316353559173,
 1.1720180773462385,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 2.0510316353559173,
 1.1720180773462385,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 1.465022596682798,
 1.465022596682798,
 1.1720180773462385,
 1.758027116019358,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 1.465022596682798,
 2.0510316353559173,
 2.344036154692477,
 1.758027116019358,
 2.637040674029037,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 1.465022596682798,
 2.0510316353559173,
 2.0510316353559173,
 2.637040674029037,
 1.465022596682798,
 2.0510316353559173,
 2.637040674029037,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 1.1720180773462385,
 2.930045193365596,
 1.758027116019358,
 1.1720180773462385,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 2.344036154692477,
 1.465022596682798,
 1.758027116019358,
 1.1720180773462385,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 2.930045193365596,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 2.930045193365596,
 2.344036154692477,
 1.758027116019358,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 2.930045193365596,
 2.344036154692477,
 2.637040674029037,
 2.930045193365596,
 1.758027116019358,
 2.930045193365596,
 1.758027116019358,
 2.344036154692477,
 2.344036154692477,
 2.930045193365596,
 2.344036154692477,
 1.758027116019358,
 2.930045193365596,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 2.637040674029037,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 1.1720180773462385,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 2.637040674029037,
 2.0510316353559173,
 2.344036154692477,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 2.344036154692477,
 1.465022596682798,
 2.0510316353559173,
 2.344036154692477,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 1.465022596682798,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 2.344036154692477,
 1.465022596682798,
 2.0510316353559173,
 0.5860090386731193,
 0.5860090386731193,
 0.5860090386731193,
 0.5860090386731193,
 1.758027116019358,
 2.344036154692477,
 2.344036154692477,
 2.0510316353559173,
 0.29300451933655963,
 2.344036154692477,
 2.344036154692477,
 1.465022596682798,
 2.0510316353559173,
 1.758027116019358,
 1.465022596682798,
 1.758027116019358,
 2.344036154692477,
 0.29300451933655963,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 1.758027116019358,
 1.465022596682798,
 2.344036154692477,
 2.0510316353559173,
 1.465022596682798,
 0.879013558009679,
 2.344036154692477,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.344036154692477,
 2.637040674029037,
 2.344036154692477,
 2.344036154692477,
 2.0510316353559173,
 2.637040674029037,
 1.465022596682798,
 2.0510316353559173,
 2.344036154692477,
 2.344036154692477,
 2.344036154692477,
 2.0510316353559173,
 1.465022596682798,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 0.5860090386731193,
 2.344036154692477,
 1.758027116019358,
 0.29300451933655963,
 2.344036154692477,
 1.1720180773462385,
 1.465022596682798,
 2.344036154692477,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 2.344036154692477,
 2.0510316353559173,
 1.465022596682798,
 0.879013558009679,
 1.465022596682798,
 2.344036154692477,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 1.1720180773462385,
 1.758027116019358,
 1.758027116019358,
 0.29300451933655963,
 1.758027116019358,
 2.930045193365596,
 0.29300451933655963,
 2.344036154692477,
 1.758027116019358,
 0.29300451933655963,
 1.465022596682798,
 1.465022596682798,
 2.0510316353559173,
 2.0510316353559173,
 2.637040674029037,
 1.758027116019358,
 1.1720180773462385,
 0.29300451933655963,
 1.758027116019358,
 1.465022596682798,
 2.637040674029037,
 2.0510316353559173,
 0.29300451933655963,
 1.1720180773462385,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 2.0510316353559173,
 1.758027116019358,
 0.29300451933655963,
 1.758027116019358,
 0.5860090386731193,
 1.758027116019358,
 1.758027116019358,
 1.465022596682798,
 2.0510316353559173,
 0.5860090386731193,
 0.5860090386731193,
 1.1720180773462385,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 0.5860090386731193,
 2.0510316353559173,
 0.29300451933655963,
 1.758027116019358,
 1.1720180773462385,
 1.465022596682798,
 1.758027116019358,
 0.879013558009679,
 1.758027116019358,
 1.758027116019358,
 2.344036154692477,
 0.29300451933655963,
 1.465022596682798,
 2.344036154692477,
 2.0510316353559173,
 0.5860090386731193,
 2.637040674029037,
 2.344036154692477,
 1.758027116019358,
 0.879013558009679,
 1.758027116019358,
 0.29300451933655963,
 1.465022596682798,
 2.344036154692477,
 1.758027116019358,
 1.758027116019358,
 0.5860090386731193,
 2.637040674029037,
 2.637040674029037,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 2.0510316353559173,
 1.1720180773462385,
 2.0510316353559173,
 0.5860090386731193,
 1.465022596682798,
 1.465022596682798,
 0.29300451933655963,
 0.5860090386731193,
 1.758027116019358,
 1.758027116019358,
 0.29300451933655963,
 2.344036154692477,
 1.758027116019358,
 0.5860090386731193,
 1.758027116019358,
 1.758027116019358,
 0.29300451933655963,
 1.758027116019358,
 1.758027116019358,
 1.465022596682798,
 0.879013558009679,
 0.5860090386731193,
 2.0510316353559173,
 1.1720180773462385,
 0.879013558009679,
 0.29300451933655963,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 1.1720180773462385,
 0.5860090386731193,
 1.465022596682798,
 2.344036154692477,
 1.758027116019358,
 1.758027116019358,
 1.465022596682798,
 1.1720180773462385,
 0.5860090386731193,
 1.465022596682798,
 1.1720180773462385,
 1.758027116019358,
 0.879013558009679,
 0.879013558009679,
 2.344036154692477,
 2.0510316353559173,
 0.879013558009679,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 0.5860090386731193,
 0.29300451933655963,
 2.344036154692477,
 0.29300451933655963,
 1.465022596682798,
 1.758027116019358,
 1.465022596682798,
 1.758027116019358,
 2.0510316353559173,
 1.465022596682798,
 1.1720180773462385,
 1.465022596682798,
 0.29300451933655963,
 0.879013558009679,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 0.29300451933655963,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 1.1720180773462385,
 2.344036154692477,
 1.758027116019358,
 0.879013558009679,
 0.29300451933655963,
 1.465022596682798,
 0.29300451933655963,
 2.0510316353559173,
 1.465022596682798,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 0.29300451933655963,
 1.1720180773462385,
 2.0510316353559173,
 2.344036154692477,
 2.0510316353559173,
 1.1720180773462385,
 2.637040674029037,
 0.5860090386731193,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 2.344036154692477,
 0.29300451933655963,
 2.0510316353559173,
 1.1720180773462385,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 2.0510316353559173,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 0.29300451933655963,
 1.465022596682798,
 2.0510316353559173,
 2.0510316353559173,
 0.29300451933655963,
 1.758027116019358,
 0.879013558009679,
 1.465022596682798,
 2.0510316353559173,
 1.758027116019358,
 0.879013558009679,
 1.1720180773462385,
 1.465022596682798,
 0.29300451933655963,
 2.930045193365596,
 2.637040674029037,
 0.29300451933655963,
 1.758027116019358,
 0.879013558009679,
 1.465022596682798,
 0.879013558009679,
 2.0510316353559173,
 1.758027116019358,
 2.344036154692477,
 1.1720180773462385,
 1.758027116019358,
 1.465022596682798,
 1.758027116019358,
 2.0510316353559173,
 0.29300451933655963,
 0.29300451933655963,
 2.0510316353559173,
 0.29300451933655963,
 0.29300451933655963,
 0.29300451933655963,
 2.0510316353559173,
 0.29300451933655963,
 1.1720180773462385,
 0.29300451933655963,
 1.758027116019358,
 1.465022596682798,
 1.758027116019358,
 2.0510316353559173,
 1.465022596682798,
 1.465022596682798,
 1.1720180773462385,
 1.1720180773462385,
 2.0510316353559173,
 0.29300451933655963,
 0.29300451933655963,
 0.29300451933655963,
 0.29300451933655963,
 1.1720180773462385,
 2.637040674029037,
 0.29300451933655963,
 1.758027116019358,
 0.29300451933655963,
 2.0510316353559173,
 0.29300451933655963,
 1.758027116019358,
 1.758027116019358,
 1.1720180773462385,
 2.0510316353559173,
 2.0510316353559173,
 0.879013558009679,
 1.1720180773462385,
 1.465022596682798,
 1.758027116019358,
 0.29300451933655963,
 1.758027116019358,
 1.758027116019358,
 0.879013558009679,
 2.0510316353559173,
 0.29300451933655963,
 1.758027116019358,
 0.879013558009679,
 1.758027116019358,
 2.344036154692477,
 0.29300451933655963,
 1.758027116019358,
 0.5860090386731193,
 1.758027116019358,
 1.758027116019358,
 1.465022596682798,
 1.465022596682798,
 2.637040674029037,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 1.465022596682798,
 1.465022596682798,
 2.0510316353559173,
 1.465022596682798,
 1.758027116019358,
 2.344036154692477,
 0.879013558009679,
 2.344036154692477,
 2.0510316353559173,
 0.29300451933655963,
 1.758027116019358,
 0.879013558009679,
 2.0510316353559173,
 2.0510316353559173,
 2.0510316353559173,
 2.344036154692477,
 0.29300451933655963,
 0.29300451933655963,
 0.29300451933655963,
 0.5860090386731193,
 1.758027116019358,
 1.465022596682798,
 1.758027116019358,
 1.758027116019358,
 0.29300451933655963,
 1.465022596682798,
 2.0510316353559173,
 1.465022596682798,
 2.930045193365596,
 0.29300451933655963,
 0.879013558009679,
 0.879013558009679,
 1.465022596682798,
 1.758027116019358,
 1.465022596682798,
 0.29300451933655963,
 0.29300451933655963,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 0.879013558009679,
 0.879013558009679,
 1.465022596682798,
 0.879013558009679,
 1.758027116019358,
 1.1720180773462385,
 0.29300451933655963,
 0.879013558009679,
 0.29300451933655963,
 2.0510316353559173,
 1.1720180773462385,
 1.465022596682798,
 1.758027116019358,
 1.758027116019358,
 1.758027116019358,
 2.0510316353559173,
 1.758027116019358,
 0.879013558009679,
 0.29300451933655963,
 2.0510316353559173,
 2.0510316353559173,
 0.29300451933655963,
 0.879013558009679,
 0.29300451933655963,
 0.29300451933655963,
 2.0510316353559173,
 1.758027116019358,
 0.29300451933655963,
 1.1720180773462385,
 1.1720180773462385,
 1.1720180773462385,
 2.0510316353559173,
 1.758027116019358,
 2.0510316353559173,
 1.758027116019358,
 1.465022596682798,
 2.0510316353559173,
 1.758027116019358,
 1.758027116019358,
 0.29300451933655963,
 1.465022596682798,
 1.758027116019358,
 0.5860090386731193,
 2.344036154692477,
 0.29300451933655963,
 1.758027116019358,

In [94]:
df_agrupado2['notas'] = notas

In [95]:
df_agrupado2 #now we have weighted rating for each movie

,userId,1968,1,2,296,1274,corr,movieId,rating,notas
0,75.0,5.0,5.0,3.5,5.0,4.5,0.827278,16,3.0,2.481834
1,75.0,5.0,5.0,3.5,5.0,4.5,0.827278,19,2.5,2.068195
2,75.0,5.0,5.0,3.5,5.0,4.5,0.827278,21,4.5,3.722752
3,75.0,5.0,5.0,3.5,5.0,4.5,0.827278,25,4.5,3.722752
4,75.0,5.0,5.0,3.5,5.0,4.5,0.827278,29,4.5,3.722752
...,...,...,...,...,...,...,...,...,...,...
100579,18509.0,3.5,3.0,4.0,4.0,5.0,0.132221,75803,4.0,0.528886
100580,18509.0,3.5,3.0,4.0,4.0,5.0,0.132221,75805,2.5,0.330554
100581,18509.0,3.5,3.0,4.0,4.0,5.0,0.132221,75940,3.0,0.396664
100582,18509.0,3.5,3.0,4.0,4.0,5.0,0.132221,75985,3.0,0.396664
100583,18509.0,3.5,3.0,4.0,4.0,5.0,0.132221,76093,5.0,0.661107

In [105]:
dffinal = df_agrupado2.groupby('movieId').sum().reset_index().sort_values('movieId') #sum the movie ratings 
dffinal

,movieId,userId,1968,1,2,296,1274,corr,rating,notas
0,3,352001.0,117.5,129.0,96.5,142.0,125.0,14.570089,92.5,39.216419
1,4,29231.0,19.0,17.5,15.5,19.5,13.5,0.454111,13.5,1.399461
2,5,267585.0,107.0,112.0,84.0,127.0,105.0,13.899388,70.0,32.820691
3,6,625285.0,229.0,237.5,183.0,273.0,234.0,28.319422,239.0,106.490455
4,7,306360.0,111.5,121.0,85.5,127.0,104.0,12.391058,86.0,34.151788
...,...,...,...,...,...,...,...,...,...,...
10623,149739,1130.0,4.5,0.5,4.0,4.0,4.5,0.289157,2.0,0.578315
10624,150270,4208.0,4.0,4.0,2.0,2.0,3.0,0.294174,1.5,0.441261
10625,150776,1502.0,5.0,4.0,3.5,5.0,4.0,0.877058,3.0,2.631174
10626,150780,1502.0,5.0,4.0,3.5,5.0,4.0,0.877058,4.0,3.508232
10627,151507,9101.0,2.5,4.0,3.0,3.5,3.5,-0.086003,3.0,-0.258008

In [106]:
dffinal.drop( [1968,1,2,296,1274], axis=1, inplace= True)

In [107]:
dffinal

       movieId    userId       corr  rating       notas
0            3  352001.0  14.570089    92.5   39.216419
1            4   29231.0   0.454111    13.5    1.399461
2            5  267585.0  13.899388    70.0   32.820691
3            6  625285.0  28.319422   239.0  106.490455
4            7  306360.0  12.391058    86.0   34.151788
...        ...       ...        ...     ...         ...
10623   149739    1130.0   0.289157     2.0    0.578315
10624   150270    4208.0   0.294174     1.5    0.441261
10625   150776    1502.0   0.877058     3.0    2.631174
10626   150780    1502.0   0.877058     4.0    3.508232
10627   151507    9101.0  -0.086003     3.0   -0.258008

[10628 rows x 5 columns]

In [119]:
#final movie rating is the sum of ratings of each movie divided by the sum of correlations of each user with our user 
ratingfinal = []
for i in range(len(dffinal)):
    if dffinal.iloc[i,2] == 0:
        ratingfinal.append(0)
    else:
        ratingfinal.append(dffinal.iloc[i,4] / dffinal.iloc[i,2])

In [120]:
ratingfinal

[2.6915702531652292,
 3.081758990727151,
 2.3613047429749763,
 3.760332872448708,
 2.756164067569375,
 3.241797453861076,
 2.1748094489935434,
 3.3037086546066656,
 3.2586574849268706,
 1.8813132965132622,
 2.882841149528271,
 3.0268977856461143,
 2.2503968201651112,
 3.594419127323668,
 3.622738876222607,
 3.633301806845431,
 2.3612040728866597,
 2.424402583124597,
 3.322691837982356,
 2.8415187766081726,
 2.4814391348777574,
 2.8028462254864115,
 3.898534078258489,
 3.644046897322485,
 2.2736667638463595,
 5.183043591246658,
 3.9613404346960475,
 3.6775033574275495,
 2.8787375354797997,
 4.15762051142731,
 3.3232893693469525,
 3.4146326933296463,
 3.7855932720615697,
 2.0,
 3.30811215906141,
 3.7809648225971495,
 2.905689718193506,
 6.843465885608438,
 2.304062804721184,
 3.1496634170905327,
 2.477663311722959,
 4.30474403907638,
 2.721572484513755,
 2.8640236438724824,
 4.422529605105248,
 3.363851745180711,
 1.864819264948848,
 2.5,
 3.249475043805527,
 3.7329287141007,
 5.0,
 2.168129797097388,
 2.842875472302798,
 3.1370586119568284,
 3.0092468161206294,
 2.6082545668389763,
 2.0591948200994237,
 1.249776701277467,
 4.0,
 3.362525783436883,
 3.3137111012507487,
 1.9939046387132686,
 2.732052993778218,
 3.793904610268227,
 2.845326022810626,
 1.7466166436556938,
 2.5048655786418954,
 3.0000000000000004,
 3.3773519505913114,
 2.397666756394002,
 3.127515780490777,
 3.2331602766350094,
 5.0,
 3.143026662934422,
 2.909794410222893,
 1.3103502518675845,
 2.7351090517108,
 3.134420012404811,
 2.1485556145341644,
 1.4699245713045592,
 3.5133537665610364,
 2.6383946558477067,
 4.158738729902912,
 4.203661396372174,
 4.531756706505703,
 2.337787393491597,
 3.264294816049567,
 2.5324986837931363,
 1.9079075992682677,
 3.2184533640188584,
 2.989881272456012,
 4.0,
 2.854660625527603,
 2.5,
 4.047263260593856,
 4.2122882842187686,
 3.3330829667479276,
 2.532959072628701,
 3.0,
 2.9669191366347687,
 2.4484631953656275,
 5.0,
 2.365459521514295,
 4.034468630364645,
 3.583248826844612,
 0.9473299218905679,
 3.305680032084594,
 2.514929827984593,
 2.339942013271134,
 4.0,
 2.664659512381662,
 3.19091711999369,
 3.2901039738264064,
 2.6984217013645733,
 2.9999999999999996,
 3.625657856526936,
 3.593593982340785,
 3.3948060406270306,
 3.269933208713603,
 3.3470504065072446,
 3.103132510089957,
 2.3938138804097324,
 3.616380340085437,
 1.2626153828868394,
 2.7160059109681205,
 2.263910181497431,
 2.383413672691095,
 3.185181073835394,
 2.092381315314101,
 3.354633654166736,
 3.9392693199286892,
 3.4301238203288076,
 3.384511539305873,
 3.407322086682393,
 3.0,
 2.3553833886175672,
 2.0722075673979403,
 2.9105805403831244,
 3.454107869117509,
 2.4631569146118975,
 2.3038074118190845,
 1.425833451294087,
 3.730296855428283,
 4.3434369495217515,
 2.4939741214564273,
 3.9199729115911066,
 1.7376623007523782,
 3.8487152414140713,
 1.4615903231924938,
 2.5,
 2.7952857984418986,
 4.0,
 2.269057971185392,
 2.3361405671948146,
 3.008392709887134,
 2.6894708409639776,
 2.5,
 3.0,
 1.7531842970944242,
 4.0,
 1.9891084781645723,
 3.5043268984265206,
 2.1664833918763384,
 2.4613769555187597,
 3.3424743717854852,
 4.399016792267967,
 2.0,
 0.43697048345404027,
 2.86980156482926,
 2.2208261488075904,
 2.146104946845501,
 2.9999999999999996,
 2.5189359739516783,
 2.3805110348971095,
 2.2690249974886423,
 4.226044200282842,
 2.9999999999999996,
 1.5635191331960392,
 3.479852396765372,
 3.0,
 4.076300461033392,
 3.204745189549327,
 2.496081320534661,
 3.168138149671141,
 2.9999999999999996,
 1.122406176007725,
 3.1725870134090592,
 4.094882358161192,
 3.1547825509515093,
 2.7610467789861572,
 2.43615354312167,
 2.0,
 3.2331489895518075,
 3.030081666906225,
 3.096435075931693,
 4.119919512071652,
 3.4547220856040934,
 1.2828923851810832,
 3.80228754461583,
 2.892792644678641,
 2.9389969925642996,
 2.698511021268641,
 2.4099524286767933,
 2.877593823992275,
 2.207088532345968,
 2.7449563475998664,
 0.75585427231956,
 2.5,
 4.375869030018516,
 3.8604856642128467,
 1.795137676257289,
 3.608056536603273,
 1.8423532180530766,
 2.572475716177622,
 2.6061231806109784,
 3.7568810347309913,
 1.666666666666667,
 1.7118436136953734,
 2.008527685393661,
 2.8846271535088093,
 1.7048241575588952,
 3.4900256680359654,
 4.312025182715076,
 3.4384882044284133,
 3.352414816501667,
 5.0,
 3.4999999999999996,
 3.7898655056957264,
 3.0419429956845603,
 2.322361237195982,
 2.9999999999999996,
 3.7720230976971076,
 3.0,
 2.0,
 3.640812052538077,
 2.7090920192394146,
 -1.3445442748189407,
 2.315755658542335,
 1.689864037831596,
 2.678463179784024,
 2.596776335090574,
 0.9369704834540402,
 3.6971402044019603,
 3.662872661654865,
 3.231450053945689,
 2.5,
 0.5,
 3.7235259194624946,
 3.918943032442443,
 4.2817166228998085,
 1.7252527701937723,
 2.9762101907833607,
 3.99235811234542,
 2.5,
 4.0,
 3.0,
 3.318518933076804,
 3.4964742061989837,
 4.0,
 4.0,
 3.0516037674977694,
 2.5,
 2.3629680397530506,
 4.576600544500616,
 4.563325147185524,
 4.048440591997345,
 4.0,
 1.789037174622239,
 2.9999999999999996,
 3.7189194859938595,
 2.342493944118974,
 3.126408775799617,
 2.343195567326549,
 4.425611338770154,
 3.606004848590792,
 3.7159102986163575,
 3.4670667105541106,
 3.7233856978163162,
 1.811389529607702,
 3.75,
 2.60008204223007,
 3.004221703836883,
 2.878683979519281,
 2.0926623288249697,
 2.309083079876133,
 3.185609808236299,
 3.0,
 3.0,
 2.0,
 3.5229775038123985,
 2.8061760220401735,
 2.774889761923156,
 2.314510851866982,
 4.0,
 3.3134166163713297,
 2.9649839781838367,
 2.824677837183893,
 3.118148564934122,
 3.52916274102099,
 3.204666996118983,
 3.672526594811342,
 3.091398348461551,
 3.162171445280087,
 1.937689507746509,
 2.2681364630095646,
 3.473793605279493,
 2.6080664611976205,
 2.0379394181287096,
 3.753405536236974,
 3.4302716117026217,
 3.509117735701355,
 3.0,
 2.098683486072005,
 2.322088788271849,
 2.8591764245288216,
 5.0,
 3.5894083977595006,
 2.262054803906171,
 2.648456842905859,
 2.862287537341518,
 3.382311904552371,
 3.0,
 2.6101638853084936,
 3.0436859026622223,
 3.0326212396305023,
 3.278782351943179,
 1.9829857249512004,
 2.512118249813928,
 2.9981340485950323,
 1.6006866720215331,
 2.6741027120596397,
 3.148632330432076,
 2.2634046729325976,
 2.528939619282698,
 3.2003469608293473,
 2.54569243122942,
 3.0,
 2.904267962600249,
 2.1826678216810294,
 1.3938887754639036,
 3.1679793271502175,
 2.3378474511929612,
 1.7044071904430655,
 3.0,
 2.0,
 1.1983182573506184,
 1.7466673801465973,
 1.5,
 3.119766939448161,
 2.311649190013355,
 3.432214219607384,
 2.526543786751706,
 2.235142767875739,
 3.131697739344248,
 2.890570870028849,
 1.5829325295864403,
 1.9494764697606253,
 2.148437709039432,
 3.7024542438232357,
 2.270215251697263,
 1.660722390898903,
 2.227641362372128,
 2.4788512771709024,
 2.5955939721834764,
 2.8253778614224956,
 2.164868928342635,
 2.588758003515915,
 2.458445318899157,
 2.4297882957139763,
 3.5608338447767807,
 2.11189446506464,
 1.8845809122621608,
 3.44657532982196,
 1.9970596664124358,
 2.3186167916787004,
 2.677798938220439,
 2.201190297525699,
 2.1299208700778998,
 1.5870201780604907,
 2.038478162602812,
 3.0000000000000004,
 3.1073336571614587,
 3.863991000114281,
 2.8504891743271474,
 2.0,
 2.3876275643042053,
 2.0513263778979756,
 3.863354702859676,
 2.0,
 3.5339844464723686,
 2.6202041028867287,
 3.012375452821726,
 2.0,
 3.0000000000000004,
 2.767749192586205,
 3.205944188721897,
 2.1377080219932876,
 3.1449557471921885,
 3.607621929674525,
 2.511057019127724,
 2.223130322477444,
 1.7261451535936188,
 4.10586627043766,
 3.0,
 2.092261994791222,
 2.9158343515549148,
 0.9489974669560729,
 2.652335362941032,
 2.4484631953656275,
 3.4128883392117997,
 1.6620050799472201,
 3.4150370788916,
 2.0,
 2.371111783225566,
 3.355236749590603,
 3.96516002359333,
 2.0,
 3.0865171895543293,
 0,
 2.6644246004878416,
 3.7755779853851426,
 3.14455928619638,
 3.426991215972613,
 4.0,
 -2.0804213760758095,
 2.303014854814395,
 2.6204306079435744,
 2.3524014443382675,
 4.0,
 1.8063025216866364,
 2.952619939197603,
 2.668081320084668,
 3.8836485269658434,
 3.522416215008698,
 2.6279237265957884,
 4.371320638244188,
 5.0,
 3.337125098887392,
 2.5,
 3.0,
 2.876543265686105,
 4.505889333752463,
 1.7279598515367924,
 1.9114638938012183,
 2.890045131031318,
 4.0037536969255445,
 3.3289552053837155,
 3.6293349470115985,
 3.418044268560809,
 3.554038359087743,
 2.449029054286449,
 2.5757346108774617,
 3.4066770348051194,
 3.1310271606267017,
 3.6638006012991386,
 3.0994541614947924,
 2.745252111580997,
 2.822061833249794,
 2.017276537042534,
 2.881552855857357,
 3.2360783995694393,
 3.9616044070648506,
 2.977600707575348,
 3.383205900839611,
 4.375088127816953,
 1.9081531475940916,
 3.9055085404393255,
 3.3036290626063156,
 2.755828886828357,
 2.3504766667147012,
 3.266240453873838,
 3.901915487467499,
 2.4084444150341873,
 2.5882599867634486,
 3.7636318913901827,
 2.669153814919789,
 2.1176068349888677,
 4.266302074968238,
 2.084619338995749,
 2.9406974174540217,
 1.9892622595267255,
 1.5957053888459383,
 2.203895737895307,
 2.90774818723401,
 3.9685328887233333,
 2.7599909932355686,
 3.9729278369339265,
 2.71745418749627,
 3.6343579026512227,
 1.5,
 3.772449507822203,
 3.7117794334496743,
 2.635692502226303,
 2.0,
 3.539557156510311,
 4.421267567033772,
 1.2835998268831275,
 3.027611048594888,
 2.5,
 3.751293980574406,
 2.4772479496522735,
 3.5,
 3.0,
 2.416924410875547,
 2.2846193566436255,
 1.8571421654814313,
 2.506544920530788,
 4.06527558349726,
 2.312402257007793,
 2.919948673796743,
 3.014396303927594,
 3.529287560485031,
 3.824576109946233,
 3.497968344337721,
 3.606906865147314,
 4.309698393916994,
 3.452256182732188,
 3.5108555530585566,
 3.3899397799858457,
 3.007047073152946,
 3.9640556721449296,
 2.800818638956003,
 3.0,
 2.384118470450637,
 3.0618454911694726,
 1.2223171552493577,
 4.190014813833632,
 2.221534755841288,
 3.2832880643254936,
 2.348898455743408,
 2.8362570175109854,
 3.0,
 3.579711672170255,
 4.0,
 2.5,
 1.3326726972446996,
 3.3251320322459357,
 3.6408120932894836,
 1.9031444461318783,
 4.0,
 4.4263863600948286,
 2.546602431517755,
 3.0,
 2.2110946957225353,
 2.255201140044599,
 3.0199224349707556,
 3.377124907350947,
 2.598264436556856,
 2.673379067718187,
 2.389119370904563,
 3.0897640317382176,
 3.064829756262139,
 3.2392086017793904,
 2.0,
 4.297086487607822,
 1.6598870925273999,
 4.455209526623667,
 5.0,
 3.90612531770571,
 2.25640986716989,
 2.557063815817855,
 3.434754283185997,
 3.647191785672437,
 3.873845457846818,
 1.865134340524334,
 1.8128415033339915,
 1.1660678261226538,
 2.1986613692700017,
 3.1514777700299184,
 2.0,
 2.5,
 1.0,
 3.388326529354522,
 3.0,
 2.3942061901919303,
 3.4193861568941952,
 2.0,
 3.001594788201135,
 2.9264171368393055,
 3.996077295872719,
 2.080451934842659,
 1.7335652639461845,
 3.0,
 3.0,
 4.167221688957028,
 2.3461538461538463,
 2.0,
 2.5954358516849476,
 2.4206497203617574,
 4.1764331001577615,
 2.828240080451167,
 2.325466755543067,
 2.5,
 3.194679113038629,
 2.0,
 1.5404305033945258,
 3.24184567426071,
 4.405458018881657,
 2.7491517879598306,
 1.7309973770301066,
 4.025935510493338,
 2.1406595316827293,
 2.5819185496831945,
 4.009952317818981,
 1.2559307916276914,
 2.7072109447783594,
 4.155684841768266,
 0.48334972867533066,
 3.2282783442794307,
 5.0,
 3.5772225433983573,
 3.2674788903885896,
 4.0,
 2.2735775190137284,
 2.1425510754636243,
 2.4772255750516607,
 2.060970626036094,
 3.1423182019353697,
 0,
 4.088715889671755,
 2.6033634852987637,
 2.9151190736124035,
 2.969469999561261,
 2.7303855622455178,
 2.7568246110069374,
 2.6338283284728568,
 3.144113082523747,
 2.4023546893442287,
 2.3732951622718517,
 0,
 2.4019079676769364,
 3.4268011461067154,
 3.9911229616646096,
 1.8369641140488326,
 2.944128046142294,
 3.9451673724712104,
 2.9560430856867277,
 3.294626223520868,
 2.5,
 2.5,
 2.834047745781144,
 1.3777211382310717,
 2.4848587009574468,
 2.361246118107393,
 0,
 1.3970967283470823,
 1.5479436027747315,
 2.4576663704131616,
 3.5218359683975917,
 3.09489705364513,
 2.5167835684214985,
 2.0639392932350193,
 2.250586063841496,
 3.02881463730239,
 3.0556767724146066,
 2.353129086940837,
 2.3862858680487897,
 4.5,
 1.849771989713737,
 4.0,
 4.0,
 0,
 3.3979915483805114,
 2.652108829770222,
 4.214192129008968,
 3.9974835178676025,
 3.0421733771536332,
 0,
 4.369251739546848,
 3.0,
 3.201321212752666,
 3.7376553850044743,
 1.6860882178523524,
 4.0,
 2.4445232539760715,
 4.0,
 2.4925656603417323,
 1.5542091392822122,
 2.377660915045157,
 2.008036784149069,
 1.1094154352312697,
 2.7213438307047406,
 0.6772733074489332,
 2.9897706141934517,
 2.1393748783558317,
 1.8050508108295689,
 4.500000000000001,
 4.0,
 4.466666666666667,
 3.698076418425711,
 3.837623082843165,
 3.470780884912754,
 3.0000000000000004,
 3.9860891574361146,
 4.00152043061985,
 4.159587719583413,
 3.7850675153337954,
 3.205213096157672,
 3.0,
 4.485774283480275,
 4.412762059322471,
 3.8687496622812216,
 4.267524249298534,
 4.071931105841125,
 3.972433340097857,
 4.010520596060474,
 3.7467628737978935,
 3.958285243644336,
 3.069281764409088,
 4.054126763703346,
 3.5034160921104074,
 4.0,
 4.444571025711353,
 4.2669025311235185,
 4.2351495977647575,
 4.3193480185547966,
 5.345307609940446,
 4.278552077522772,
 4.0,
 4.193092727089088,
 3.3747737235988455,
 3.519768294705903,
 3.6486446687152245,
 3.242550579074736,
 5.0,
 2.7704877669885795,
 4.166890960462106,
 3.1707993988850074,
 3.8081352451737605,
 3.407125491751914,
 3.2588606742013884,
 4.130470417832704,
 4.0,
 3.5769979410514363,
 4.0,
 3.2584965232118415,
 3.3709652178344722,
 4.041779137055435,
 3.8502390146787806,
 4.332210139938209,
 4.284339407493528,
 3.9003158077291715,
 4.0,
 3.0,
 3.99230537897562,
 4.00975019906262,
 3.6717167713808987,
 3.6722843610781006,
 4.0,
 4.556506057607493,
 2.8321616546560593,
 4.0,
 2.734109894506374,
 3.6461106321354775,
 2.918055628541344,
 5.0,
 2.156597885189791,
 3.2478246491941976,
 2.0,
 3.0,
 3.890707815731184,
 3.102417945827455,
 2.3269325596269463,
 3.2333668627460734,
 2.0,
 0,
 2.535013737049809,
 2.0692138528377484,
 1.8580816192074794,
 1.762738786466819,
 3.341135856076787,
 4.0,
 2.5794440384613693,
 2.812008674896494,
 2.65660814556055,
 3.913660819131381,
 3.2132814534671104,
 3.6058787767391687,
 3.1442816971450207,
 2.2178174636832937,
 3.807789697053982,
 6.328999755978505,
 3.359401600411075,
 2.947863469300822,
 2.270632610912346,
 3.326808092394745,
 4.321644928184408,
 3.9348162063351766,
 3.440832491501392,
 3.07356140668306,
 3.5694395767941844,
 3.504442055742756,
 3.115209651174571,
 3.279412389853225,
 3.5392692725904,
 3.6124554197250522,
 3.441416417934413,
 3.4680684296938002,
 3.954601893412281,
 2.2753122227063685,
 4.009053241261309,
 2.995717976533456,
 1.6387343517662893,
 0,
 2.0,
 5.333981594033774,
 2.851027626341593,
 2.9967739583521062,
 4.0735533934993535,
 3.296482937194664,
 2.0,
 2.415656854461659,
 0,
 5.0,
 3.2043838694733884,
 3.8178723170816826,
 3.876209512604469,
 3.461804214248091,
 4.0,
 2.2061873769165437,
 3.398113794914796,
 3.5,
 4.0,
 3.802996569255939,
 2.6184702110145666,
 3.9413939131872673,
 3.63985379568111,
 3.7043829939797988,
 3.9011011498954105,
 3.5577147595334044,
 0,
 4.347771986262761,
 3.5328620963291626,
 1.9228061539810477,
 4.154649689719233,
 2.651523454514132,
 4.415057691267717,
 4.0485997684131405,
 2.652761195637576,
 3.1182323802383314,
 3.068689030898705,
 3.439388764861432,
 3.7502609779850262,
 3.5959021076210202,
 3.5395881726384553,
 1.5710087806392552,
 4.2529564622025156,
 2.5932250917504973,
 3.1849209208079348,
 2.0,
 3.683737931579193,
 3.6569341748204045,
 -0.09951086667527981,
 2.7664239637683314,
 4.587605310464853,
 2.8202678649939323,
 2.4096751870929967,
 3.2478373637688644,
 3.351811960773679,
 3.0,
 3.2051740278104255,
 2.8549435166216623,
 2.213080838628857,
 3.7276944413958226,
 3.009899575866081,
 3.449102031525079,
 2.6286150163868607,
 4.346502216340012,
 4.303458066042149,
 2.983386055472634,
 4.222546219628279,
 3.748403753500967,
 3.919444992618449,
 4.94782196186948,
 6.000627112185839,
 2.0,
 5.0,
 1.77538628096013,
 2.0,
 4.0,
 2.0,
 3.484889011932932,
 4.06578083780928,
 3.787491103988183,
 4.148919729559243,
 3.371052994484221,
 4.0,
 4.13054412562167,
 3.9852712162852946,
 3.0,
 3.4794165896046705,
 4.187033348074486,
 4.03680881795816,
 3.542000722355585,
 2.9744358588423654,
 3.682410860162396,
 4.466157803596224,
 2.3133353366436267,
 2.166443103693549,
 3.409164387849478,
 4.286469100076849,
 3.395797284498678,
 4.387989467215419,
 4.36584840725437,
 4.14693543020533,
 4.008494418098733,
 4.235258547373735,
 4.182986994527943,
 5.76129751922358,
 4.343382816173061,
 4.172573355523022,
 4.287853207762688,
 4.335489311073662,
 4.1390211412399065,
 4.55115636163479,
 3.9602557124523066,
 4.336762674878924,
 4.201420819397583,
 4.261148182278989,
 4.207547182890959,
 3.6203570333408157,
 4.672610188008854,
 4.306419935315351,
 4.172666574433391,
 4.0271022336505835,
 3.711998862829268,
 4.165365549559952,
 4.3970533317814695,
 3.84059067144955,
 3.9563891109931695,
 3.9905748186441548,
 3.5632553605667336,
 4.268420851787982,
 3.828442897687609,
 3.981542684180676,
 3.859031899141109,
 4.10191867856205,
 4.066892109010986,
 4.299632338516958,
 3.9076529098331108,
 3.907022083726388,
 4.400275335166416,
 4.609457127138503,
 3.9309432285831183,
 4.4445445875406495,
 3.993292026027727,
 3.405817911210769,
 3.9637006711955896,
 4.189202415265794,
 3.8183872890946318,
 4.050425845289225,
 4.283427239264738,
 3.8669690955316023,
 4.055391542581949,
 3.945568972579415,
 4.283885605136307,
 4.110943134061867,
 4.156536261473291,
 3.4984800938207967,
 3.956431934758526,
 3.5313423557428334,
 4.082853649825535,
 3.8511100229257473,
 4.225562325559371,
 3.9395412022832663,
 4.278212699189982,
 3.8866381943317116,
 3.5268104529858166,
 3.903211168419969,
 4.154054927123558,
 4.176599892215693,
 3.325856823083586,
 4.17301102964453,
 4.016657548943724,
 3.0950539405605264,
 4.044020963327922,
 4.07273668378399,
 3.5284147805057646,
 4.160845694325415,
 3.751807495510995,
 3.8965649019629405,
 3.492001158460472,
 4.519733117100042,
 4.216521286202664,
 3.851336377402029,
 4.5037676665793684,
 4.428871513982597,
 3.8527327801745086,
 3.325373408873932,
 4.041986318591052,
 4.166215155075447,
 4.145459318920801,
 3.20195102176295,
 3.9982395873946017,
 3.700541140384072,
 3.923351897181173,
 3.177373120933137,
 3.9859585608039545,
 3.1262503556718357,
 4.026524444988254,
 ...]

In [121]:
dffinal['ratingfinal'] = ratingfinal

In [122]:
dffinal.sort_values('ratingfinal', ascending = False)

      movieId   userId      corr  rating     notas  ratingfinal
9611   103655  20180.0 -0.011466    12.5 -0.904965    78.928759
2352     3048  12648.0 -0.011739     5.0 -0.312568    26.626059
8483    75803  22924.0  0.020383     4.5  0.472967    23.203845
7572    57464   9609.0 -0.031754     9.5 -0.687697    21.656752
8359    72919  22924.0  0.020383     4.0  0.406856    19.960439
...       ...      ...       ...     ...       ...          ...
7052    48414  28313.0 -0.019768    11.5  0.387328   -19.593698
2600     3420  19450.0  0.060743    13.0 -1.835812   -30.222431
9133    92507  32677.0  0.014933    17.5 -0.508795   -34.070939
8682    80727  22596.0 -0.006357     4.0  0.432172   -67.985711
2964     3881   7307.0  0.012714     7.0 -1.290160  -101.478567

[10628 rows x 6 columns]

In [123]:
df

,movieId,title,genres
0,1,Toy Story,Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji,Adventure|Children|Fantasy
2,3,Grumpier Old Men,Comedy|Romance
3,4,Waiting to Exhale,Comedy|Drama|Romance
4,5,Father of the Bride Part II,Comedy
...,...,...,...
34203,151697,Grand Slam,Thriller
34204,151701,Bloodmoney,(no genres listed)
34205,151703,The Butterfly Circus,Drama
34206,151709,Zero,Drama|Sci-Fi
34207,151711,The 2000 Year Old Man,(no genres listed)

In [125]:
dffinal = pd.merge(left = dffinal, right = df, how = 'inner', on = 'movieId') #merge with initial df to find movie titles

In [127]:
dffinal.sort_values('ratingfinal', ascending = False)

,movieId,userId,corr,rating,notas,ratingfinal,title,genres
9611,103655,20180.0,-0.011466,12.5,-0.904965,78.928759,R.I.P.D.,Action|Comedy|Fantasy
2352,3048,12648.0,-0.011739,5.0,-0.312568,26.626059,Under the Rainbow,Comedy
8483,75803,22924.0,0.020383,4.5,0.472967,23.203845,Our Family Wedding,Comedy
7572,57464,9609.0,-0.031754,9.5,-0.687697,21.656752,He Was a Quiet Man,Drama
8359,72919,22924.0,0.020383,4.0,0.406856,19.960439,Did You Hear About the Morgans?,Comedy|Crime|Drama|Romance
...,...,...,...,...,...,...,...,...
7052,48414,28313.0,-0.019768,11.5,0.387328,-19.593698,Open Season,Adventure|Animation|Children|Comedy|IMAX
2600,3420,19450.0,0.060743,13.0,-1.835812,-30.222431,...And Justice for All,Drama|Thriller
9133,92507,32677.0,0.014933,17.5,-0.508795,-34.070939,Safe House,Action|Crime|Mystery|Thriller
8682,80727,22596.0,-0.006357,4.0,0.432172,-67.985711,Middle Men,Comedy|Crime|Drama
2964,3881,7307.0,0.012714,7.0,-1.290160,-101.478567,Phish: Bittersweet Motel,Documentary

In [131]:
dffinal.sort_values('ratingfinal', ascending = False).head(10)['title'].values #find 10 recommended movies

array(['R.I.P.D.', 'Under the Rainbow', 'Our Family Wedding',
       'He Was a Quiet Man', 'Did You Hear About the Morgans?',
       'Killing Them Softly', 'Children of Huang Shi, The', 'Everest',
       'Bell, Book and Candle', 'Auntie Mame'], dtype=object)